fastapi
uvicorn[standard]
motor>=3.3.2
beanie==1.10.9
pymongo>=4.6.0
pydantic[email]
google-generativeai
requests
aiohttp
pydantic-settings
Pillow
passlib[bcrypt]
bcrypt==3.2.0
cryptography
python-jose[cryptography]
email-validator
dnspython
python-multipart


