fastapi
uvicorn[standard]
motor<3.0.0
beanie==1.10.9
pymongo
pydantic[email]
google-generativeai
requests
aiohttp
pydantic-settings
Pillow
passlib[bcrypt]
bcrypt==3.2.0
cryptography
python-jose[cryptography]
email-validator
dnspython
python-multipart


