fastapi
uvicorn[standard]
httpx
motor>=3.3.2
beanie>=2.1.0
pymongo>=4.6.0
pydantic[email]
pydantic-settings
email-validator
google-generativeai
requests
aiohttp
python-multipart
python-dotenv
pillow
python-jose[cryptography]
passlib[bcrypt]
